<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>

  <div class="header-container">
    <span class="head-title">
      marimoss
    </span>
  
    <div class="search-div">
      <input type="text" name="searchInput">
      <img src="/images/common/search.png" alt="" name="searchMark">
    </div>
    
    <div class="menu-container">
      <div class="icon-box" name="homeBox">
        <img src="/images/common/home.png" alt="">
      </div>
      <div class="icon-box" name="plusBox">
        <img src="/images/common/plus.png" alt="">
      </div>
      <div class="icon-box" name="crownBox">
        <img src="/images/common/crown.png" alt="">
      </div>
    </div>
    
  </div>

  <script src="/js/common/header.js">
  </script>
</body>
</html>