<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>

  <div class="header-container">
    <span class="head-title">
      marimoss
    </span>
  
    <div class="search-div">
      <input type="text" name="searchInput">
      <img src="/images/common/search.png" alt="" name="searchMark">
    </div>
    
    <div class="menu-container">
      <div class="icon-box" name="homeBox">
        <img src="/images/common/home.png" alt="">
      </div>
      <div class="icon-box" name="plusBox">
        <img src="/images/common/plus.png" alt="">
      </div>
      <div class="icon-box" name="crownBox">
        <img src="/images/common/crown.png" alt="">
      </div>
      <div class="icon-box" name="profileBox">
        <img src="/images/defaultProfile.png" alt="">
      </div>

    </div>
    

  </div>





  <div class="side-modal side-modal-none" th:if="${session.loginMember}" th:object="${session.loginMember}">
    <div class="side-modal-head">
      <span id="sideCloseBtn">
        &times
      </span>
    </div>

    <div class="side-modal-content">

      <img src="/images/defaultProfile.png" alt="">

      <div th:text="*{memberNickname}"></div>
      <div>마이 페이지</div>
      
      <button class="logout-btn">
        로그아웃
      </button>
    </div>

    <div class="side-modal-menu">

    </div>

  </div>


  <div class="login-modal side-modal-none">
    <div class="login-head">
      marimoss
      <span id="loginCloseBtn">
        &times
      </span>
    </div>

    <div class="login-content">
      <form action="/member/login"
            method="POST">

        <input type="text" name="memberEmail" placeholder="이메일을 입력해주세요">
        <input type="password" name="memberPassward" placeholder="비밀번호를 입력해주세요">
        <div class="auto-login-div">
          <input type="checkbox" name="autoLogin">
          자동 로그인
        </div>

        <button>로그인</button>
      </form>
    </div>
  </div>

  <script th:inline="javascript">
    const loginMember = /*[[${session.loginMember}]]*/ 로그인회원;

    let message =  /*[[${message}]]*/ "전달 받은 message";

    window.onload = () => {
      if(message != null) {

        setTimeout(
          function() {
            alert(message);
          
            // 메시지 비우기
            message = null;
          },
          100);


      }
    }

  </script>

  <script src="/js/common/header.js">
  </script>
</body>
</html>