<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>

  <div class="header-container">
    <span class="head-title">
      marimoss
    </span>
  
    <div class="search-div">
      <input type="text" name="searchInput">
      <img src="/images/common/search.png" alt="" name="searchMark">
    </div>
    
    <div class="menu-container">
      <div class="icon-box" name="homeBox">
        <img src="/images/common/home.png" alt="">
      </div>
      <div class="icon-box" name="plusBox">
        <img src="/images/common/plus.png" alt="">
      </div>
      <div class="icon-box" name="crownBox">
        <img src="/images/common/crown.png" alt="">
      </div>
      <div class="icon-box" name="profileBox">
        <img src="/images/defaultProfile.png" alt="">
      </div>

    </div>
    

  </div>





  <div class="side-modal side-modal-none" th:if="${session.loginMember}" th:object="${session.loginMember}">
    <div class="side-modal-head">
      <span id="sideCloseBtn">
        &times
      </span>
    </div>

    <div class="side-modal-content">

      <img src="/images/defaultProfile.png" alt="">

      <div th:text="*{memberNickname}"></div>
      <div>마이 페이지</div>
      
      <button class="logout-btn">
        로그아웃
      </button>
    </div>

    <div class="side-modal-menu">

    </div>

  </div>


  <div class="login-modal side-modal-none">
    <div class="login-head">
      marimoss
      <span id="loginCloseBtn">
        &times
      </span>
    </div>

    <div class="login-content">
      <form action="/member/login" class="login-form"
            method="POST">
      
        <input type="text" name="memberEmail" placeholder="이메일을 입력해주세요" id="loginEmail">
        <input type="password" name="memberPassward" placeholder="비밀번호를 입력해주세요" id="loginPw">
        <div class="auto-login-div">
          <input type="checkbox" name="autoLogin">
          자동 로그인
        </div>
        
        <button>로그인</button>
      </form>



      <form action="/member/signUp"
            method="POST"
            class="signup-form none-display">

        <span class="head-email-span">
          <span>

            이메일 
          </span>
          <span id="timeSpan">
          </span>
        </span>
        <div class="check-div">
          <!-- 위랑 네임 중복 -->
          <input type="text" placeholder="이메일을 입력해 주세요" name="memberEmail" id="signUpEmail">
          <button id="checkBtn" class="check-btn" type="button">인증번호</button>
        </div>
        <div class="check-div">
          <!-- 위랑 네임 중복 -->
          <input type="text" placeholder="인증번호" name="emailCheck">
          <button id="checkBtn2" class="check-btn" type="button">인증하기</button>
        </div>

        <span>비밀번호</span> 
                  <!-- 위랑 네임 중복 -->
        <input type="password" placeholder="영문, 특수문자, 숫자 6 ~ 20 자 조합" name="memberPassward" id="signUpPassward">
        <input type="password" placeholder="비밀번호 확인" name="passwordCheck">

        <span>닉네임</span>
        <input type="text" placeholder="닉네임을 입력해 주세요" name="memberNickname">
      
        <button id="signUpBtn">회원 가입</button>
      </form>
    </div>

    <div class="login-bottom">
      <div class="login-bottom-div">
        <span class="login-bottom-span">
          아직 회원이 아니신가요?
        </span>
        <div class="signup-btn">
          회원 가입
        </div>

      </div>
    </div>

  </div>

  <script th:inline="javascript">
    const loginMember = /*[[${session.loginMember}]]*/ 로그인회원;

    let message =  /*[[${message}]]*/ "전달 받은 message";

    window.onload = () => {
      if(message != null) {

        setTimeout(
          function() {
            alert(message);
          
            // 메시지 비우기
            message = null;
          },
          100);


      }
    }

  </script>

  <script src="/js/common/header.js">
  </script>
</body>
</html>