<th:block th:object="${board}">

  <div class="modal-image-area">
    <img th:src="|*{boardImgPath}*{boardImgRename}|" alt="" name="modalImg">

    <div class="modal-image-bottom">
      <img th:src="*{likeFl == 1 ? '/images/main/heartFilled.png' : '/images/main/heartEmpty.png'}" alt="" name="likeBtn">
      <img src="/images/main/button.png" name="etcBtn"alt="">

      <div class="modal-img-menu modal-menu-close">
        <a th:href= "|*{boardImgPath}*{boardImgRename}|" 
           th:download = "*{boardImgOrigin}">
          <img src="/images/main/downloadBtn.png" alt="">
          <span>
            다운로드
          </span>
        </a>
        <a th:href= "|*{boardImgPath}*{boardImgRename}|" 
           target="_blank" rel="noopener noreferrer">
          <img src="/images/main/plusBtn.png" alt="">
          <span>
            원본 보기
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="modal-content-area">
    <div class="modal-head">
      <span th:text="|# *{boardTitle}|"></span>
      <span id="modalCloseBtn">&times;</span>
    </div>
    <div class="modal-member">
      <img th:src="*{memberProfile != null ? memberProfile : '/images/defaultProfile.png'}"  alt="profile">
      <span th:text="*{memberNickname}"></span>
    </div>

    <div class="modal-content">
      <pre th:text="*{boardContent}"></pre>
    </div>
    <div class="modal-comment-area">
      <span>
        댓글
      </span>
      <th:block th:each= "comment:${commentList}" th:object="${comment}">
        <div class="comment-box">
          <img th:src="*{memberProfile != null ? memberProfile : '/images/defaultProfile.png'}" alt="" class="">
          <span th:text="*{memberNickname}"></span>
          <span th:text="*{commentContent}"></span>
        </div>
      </th:block>

      <div>
        <input type="text">
        <button>등록</button>
      </div>
    </div>
  </div>

</th:block>


<script>
  /* 모달 내부 요소 클릭시 사용할 함수들 */
  const modalCloseBtn = document.querySelector("#modalCloseBtn");

  modalCloseBtn?.addEventListener("click", e => {
    modalClose();
  })
</script>