<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marimoss</title>

  <link rel="stylesheet" href="/css/main/main.css">
</head>
<body>

  <!-- Header Section -->
  <header>
    <th:block th:replace="~{common/header}"></th:block>
    <th:block th:replace="~{common/sideTool}"></th:block>
  </header>

 
  <main>

    <!-- 중앙 컨텐츠 영역 -->
    <section class="main-section">

      <div class="board-container">
        <th:block th:each= "board:${boardList}" th:object="${board}">
          <div class="board-box" th:data-value="*{boardNo}">
            <img src="/images/sample/sample.jpg" alt="">
            <div class="board-div">
              <div class="top-area">
                <span th:text="*{boardTitle}"></span>
              </div>
  
              <div class="like-area">
                <img src="/images/main/whiteHeart.png" alt="like">
                <span th:text="*{likeCount}"></span>
              </div>
  
              <div class="bottom-area">
                <img src="/images/main/downloadBtn.png" style="background-color: white;" name="downloadBtn" alt="">
              </div>
            </div>
          </div>
        </th:block>
      </div>

      <!-- 감시자 -->
      <div class="obserb-flag">obserb-flag</div>
    </section>

    <div class="board-modal">
    </div>
    <div id="blackDisplay"></div>
  </main>
  


  <script src="/js/main/main.js"></script>
</body>
</html>