<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marimoss</title>

  <link rel="stylesheet" href="/css/main/main.css">
</head>
<body>

  <!-- Header Section -->
  <header>
    <th:block th:replace="~{common/header}"></th:block>
    <!-- <th:block th:replace="~{common/sideTool}"></th:block> -->
  </header>

 
  <main id="main">

    <th:block th:replace="~{main/homeView}"></th:block>
    
  </main>
  <div id="blackDisplay"></div>
  
  <script src="/js/main/main.js"></script>
  <script src="js/myPage/myPage.js"></script>
  <script src="js/myPage/memberPage.js"></script>
  <script src="js/board/boardInsert.js"></script>
  <script src="js/board/boardUpdate.js"></script>
  <script src="js/main/rankPage.js"></script>
  <script src="js/myPage/pwChange.js"></script>
  <script src="js/myPage/memberDel.js"></script>
  <script src="js/myPage/pwFind.js"></script>

  <!-- 알림 관련 전역 변수 -->
  <script th:inline="javascript">

    // 현재 접속한 클라이언트가 로그인 상태인지 확인하는 변수
    // -> 알림은 로그인한 회원만 받을 수 있다!!
    const notificationLoginCheck = /*[[${session.loginMember} ? true : false]]*/ false;

  </script>
</body>
</html>