<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marimoss</title>

  <link rel="stylesheet" href="/css/main/main.css">
</head>
<body>

  <!-- Header Section -->
  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
 
  <main>
    <!-- 중앙 컨텐츠 영역 -->
    <section class="main-section">

      <div class="board-box">
        <img src="/images/sample/sample.jpg" alt="">
        <span class="board-div">abc</span>
      </div>

      <div class="board-box">
        <img src="/images/sample/sample2.jpg" alt="">
      </div>

      <div class="board-box">
        <img src="/images/sample/sample3.jpg" alt="">
      </div>

      <div class="board-box">
        <img src="/images/sample/sample3.jpg" alt="">
      </div>

      <div class="board-box">
        <img src="/images/sample/sample2.jpg" alt="">
      </div>

      <div class="board-box">
        <img src="/images/sample/sample.jpg" alt="">
      </div>


      <div class="board-box">
        <img src="/images/sample/sample3.jpg" alt="">
      </div>

      <div class="board-box">
        <img src="/images/sample/sample3.jpg" alt="">
      </div>

      <div class="board-box">
        <img src="/images/sample/sample3.jpg" alt="">
      </div>

      <div class="board-box">
        <img src="/images/sample/sample3.jpg" alt="">
      </div>


    </section>
  </main>


  <script src="/js/main/main.js"></script>
</body>
</html>