
    <!-- 중앙 컨텐츠 영역 -->
    <section class="main-section">

      <div class="rank-header">
        <div name="allTime">ALL-TIME</div>
        <div name="monthly">MONTHLY</div>
        <div name="weekly">WEEKLY</div>
      </div>
      
      <hr id="rank-hr">

      <div class="board-container">

        <div th:if= "${#lists.size(boardList) == 0}" class="no-board">
          <div>등록된 작품이 없습니다</div>
        </div>

        <th:block th:each= "board:${boardList}" th:object="${board}">

          <div class="board-box" th:data-value="*{boardNo}">
            <img th:src="|*{boardImgPath}*{boardImgRename}|" alt="">
            <div class="board-div">
              <div class="top-area">
                <span th:text="|# *{rnum} *{boardTitle}|"></span>
              </div>
  
              <div class="like-area">
                <img th:src="*{likeFl == 1 ? '/images/main/whiteHeartFilled.png' : '/images/main/whiteHeart.png'}" alt="" name="likeBtnDefault">
                <span th:text="*{likeCount}" name="likeCountSpan"></span>
              </div>
  
              <div class="bottom-area">
                <a th:href= "|*{boardImgPath}*{boardImgRename}|" 
                   th:download = "*{boardImgOrigin}">
                  <img src="/images/main/downloadBtn.png" style="background-color: white;" name="downloadBtn" alt="">
                </a>
                
                <div th:if="${session.loginMember != null and session.loginMember.memberNo == board.memberNo}">
                  <img src="/images/main/updateBtn.png" style="background-color: white;" name="boardUpdateBtn" alt="">
                </div>

                <div th:if="${session.loginMember != null and session.loginMember.memberNo == board.memberNo}">
                  <img src="/images/main/deleteBtn.png" style="background-color: white;" name="boardDeleteBtn" alt="">
                </div>

                
              </div>
            </div>
          </div>

        </th:block>
      </div>

      <!-- 감시자 -->
      <div class="obserb-flag" th:data-value2="${rankTime}"></div>
    </section>

    <div class="board-modal">
    </div>

    