<head>
  <link rel="stylesheet" href="/css/myPage/myPage.css">
</head>
<!-- 메인 안에 들어갈 내용 -->
<section class="main-section">
  <div class="myPage-container">
    <div class="myPage-profile" th:object="${memberStatus}" >
      <div class="theme">
        <img th:src="*{memberTheme}" alt="" id="myPageTheme">

      </div>
      <img th:src="*{memberProfile != null ? memberProfile : '/images/defaultProfile.png'}" name="profileImg" alt="" id="profileImg">
      <div class="profile">
        <div class="pofile-follow-area" 
             th:if="${session.loginMember != null and session.loginMember.memberNo != memberStatus.memberNo}">
          <div name="pofileFollowBtn" 
               th:classappend="${followCheck} == '1' ? 'follow'"
               th:data-value="${followCheck}">팔로우</div>

        </div>
        <span th:text="*{memberNickname}" id="myPageMemberNickname" th:data-value="*{memberNo}"></span>
        <span th:text="*{memberEmail}" th:if="${memberStatus.memberEmailFl == 'Y'}"></span>
      </div>
    </div>

    <div class="myPage-temp"></div>



    <div class="member-status-container">
      <div class="follow-container">

        <div th:if="${memberStatus.memberFollowFl == 'N'}" class="no-follow">
          <div>팔로워 비공개 상태입니다</div>
        </div>

        <div class="follow-header" th:if="${memberStatus.memberFollowFl == 'Y'}">
          <div id="followerBtn" class="checked-div">팔로워</div>
          <div id="followeeBtn">팔로잉</div>
        </div>

        <div class="follower-container" name="followerContainer" th:if="${memberStatus.memberFollowFl == 'Y'}">

          <th:block th:if= "${followerList}" th:each= "follower:${followerList}" th:object="${follower}">
            <div class="follower-box">
              <div class="follower-box-member-area">
                <img th:src="*{memberProfile != null ? memberProfile : '/images/defaultProfile.png'}" alt="" class="">
                <div th:text="*{memberNickname}"></div>
              </div>
  
              <div class="follower-box-etc-area" th:data-value="*{memberNo}"
                   th:unless="${session.loginMember != null and session.loginMember.memberNo == follower.memberNo}">
                <img src="/images/main/button.png" alt="" name="etcBtn">
                <div class="modal-follower-menu modal-follower-menu-close">
                  <div name="memberPage">페이지</div>
                </div>
              </div>
  
            </div>
          </th:block>
  
        </div>

        <div class="follower-container follow-display" name="followeeContainer" th:if="${memberStatus.memberFollowFl == 'Y'}">

          <th:block th:if= "${followeeList}" th:each= "followee:${followeeList}" th:object="${followee}">
            <div class="follower-box">
              <div class="follower-box-member-area">
                <img th:src="*{memberProfile != null ? memberProfile : '/images/defaultProfile.png'}" alt="" class="">
                <div th:text="*{memberNickname}"></div>
              </div>
  
              <div class="follower-box-etc-area" th:data-value="*{memberNo}" 
                   th:unless="${session.loginMember != null and session.loginMember.memberNo == followee.memberNo}">
                <img src="/images/main/button.png" alt="" name="etcBtn">
                <div class="modal-follower-menu modal-follower-menu-close">
                  <div name="memberPage">페이지</div>
                </div>
              </div>

  
            </div>
          </th:block>
  
        </div>

      </div>



      <div class="member-active-container">
      </div>
      
    </div>



    
    <div class="myPage-main-content">
    
      <!-- 내가 쓴 게시글 -->
      <section class="myPage-section">
        <div th:text="|${memberStatus.memberNickname} 님의 작품들 (${boardCount})|" name="myPage-subTitle"></div>
        <hr id="mypage-hr">
        <div th:if= "${#lists.size(boardList) == 0}" class="no-board">
          <div>등록된 작품이 없습니다</div>
        </div>

        <div th:if="${#lists.size(boardList) != 0 and memberStatus.memberActiveFl == 'N'}" class="no-board">
          <div>비공개 상태입니다</div>
        </div>

        <div class="board-container" th:if="${#lists.size(boardList) != 0 and memberStatus.memberActiveFl == 'Y'}">
          <th:block th:each="board:${boardList}" th:object="${board}">
    
            <div class="board-box" th:data-value="*{boardNo}">
              <img th:src="|*{boardImgPath}*{boardImgRename}|" alt="">
              <div class="board-div">
                <div class="top-area">
                  <span th:text="*{boardTitle}"></span>
                </div>
    
                <div class="like-area">
                  <img th:src="*{likeFl == 1 ? '/images/main/whiteHeartFilled.png' : '/images/main/whiteHeart.png'}" alt=""
                    name="likeBtnDefault">
                  <span th:text="*{likeCount}" name="likeCountSpan"></span>
                </div>
    
                <div class="bottom-area">
                  <a th:href="|*{boardImgPath}*{boardImgRename}|" th:download="*{boardImgOrigin}">
                    <img src="/images/main/downloadBtn.png" style="background-color: white;" name="downloadBtn" alt="">
                  </a>

                  <div th:if="${session.loginMember != null and session.loginMember.memberNo == board.memberNo}">
                    <img src="/images/main/updateBtn.png" style="background-color: white;" name="boardUpdateBtn" alt="">
                  </div>
  
                  <div th:if="${session.loginMember != null and session.loginMember.memberNo == board.memberNo}">
                    <img src="/images/main/deleteBtn.png" style="background-color: white;" name="boardDeleteBtn" alt="">
                  </div>

                </div>
              </div>
            </div>
    
          </th:block>
        </div>
    
        <!-- 감시자 -->
        <div class="obserb-flag"></div>
      </section>
    
      <div class="board-modal">
    </div>



    </div>

  </div>


</section>