<head>
  <link rel="stylesheet" href="/css/myPage/pwChange.css">
</head>
<!-- 메인 안에 들어갈 내용 -->
<section class="main-section">
  <div class="head-title2">
    marimoss
  </div>
  <hr class="pw-change-hr">
  <div class="sub-title">
    그동안 marimoss 를 이용해 주셔서 감사합니다 
  </div>
  <div class="pw-change-container">
    <input type="password" name="prePw" id="prePw" placeholder="비밀번호를 입력해 주세요">

    <pre>aaaa</pre>
    <div>
      <input type="checkbox">
      <span>탈퇴 약관에 동의합니다</span>
    </div>

    <div class="pw-change-btn">
      탈퇴하기
    </div>

  </div>
</section>