<head>
  <link rel="stylesheet" href="/css/myPage/myPage.css">
</head>
<!-- 메인 안에 들어갈 내용 -->
<section class="main-section">
  <div class="myPage-container">
    <div class="myPage-profile" th:object="${session.loginMember}" >
      <div class="theme">
        <img th:src="*{memberTheme}" alt="" id="myPageTheme">

      </div>
      <img th:src="*{memberProfile != null ? memberProfile : '/images/defaultProfile.png'}" name="profileImg" alt="" id="profileImg">
      <div class="profile">
        <div class="temp-div1">
          <div class="profile-change-btn">내 정보 수정</div>
        </div>
        <span th:text="*{memberNickname}" id="myPageMemberNickname"></span>
        <span th:text="*{memberEmail}"></span>
      </div>
    </div>

    <!-- 빈공간 div -->
    <div class="myPage-temp">
    </div>

    <div class="member-status-container">
      <div class="follow-container">
        <div class="follow-header">
          <div id="followerBtn" class="checked-div">팔로워</div>
          <div id="followeeBtn">팔로잉</div>
        </div>

        <div class="follower-container" name="followerContainer">

          <th:block th:if= "${followerList}" th:each= "follower:${followerList}" th:object="${follower}">
            <div class="follower-box">
              <div class="follower-box-member-area">
                <img th:src="*{memberProfile != null ? memberProfile : '/images/defaultProfile.png'}" alt="" class="">
                <div th:text="*{memberNickname}"></div>
              </div>
  
              <div class="follower-box-etc-area" th:data-value="*{memberNo}">
                <img src="/images/main/button.png" alt="" name="etcBtn">
                <div class="modal-follower-menu modal-follower-menu-close">
                  <div name="followBtn"
                       th:data-value="*{followBack}"
                       th:classappend="*{followBack} == '1' ? 'follow'"
                  >팔로우</div>
                  <div name="memberPage">페이지</div>
                </div>
              </div>
  
            </div>
          </th:block>
  
        </div>

        <div class="follower-container follow-display" name="followeeContainer">

          <th:block th:if= "${followeeList}" th:each= "followee:${followeeList}" th:object="${followee}">
            <div class="follower-box">
              <div class="follower-box-member-area">
                <img th:src="*{memberProfile != null ? memberProfile : '/images/defaultProfile.png'}" alt="" class="">
                <div th:text="*{memberNickname}"></div>
              </div>
  
              <div class="follower-box-etc-area" th:data-value="*{memberNo}">
                <img src="/images/main/button.png" alt="" name="etcBtn">
                <div class="modal-follower-menu modal-follower-menu-close">
                  <div name="memberPage">페이지</div>
                  <div name="deleteFollow">삭제 X</div>
                </div>
              </div>

  
            </div>
          </th:block>
  
        </div>

      </div>



      <div class="member-active-container">
      </div>
      
    </div>

    <div class="myPage-main-content">
    
      <!-- 내가 쓴 게시글 -->
      <section class="myPage-section">
        <div th:text="|내 작품들 (${boardCount})|" name="myPage-subTitle">aaaa</div>
        <hr id="mypage-hr">

        <div th:if= "${#lists.size(boardList) == 0}" class="no-board">
          <div>등록된 작품이 없습니다</div>
        </div>

        <div class="board-container">
          <th:block th:each="board:${boardList}" th:object="${board}">
    
            <div class="board-box" th:data-value="*{boardNo}">
              <img th:src="|*{boardImgPath}*{boardImgRename}|" alt="">
              <div class="board-div">
                <div class="top-area">
                  <span th:text="*{boardTitle}"></span>
                </div>
    
                <div class="like-area">
                  <img th:src="*{likeFl == 1 ? '/images/main/whiteHeartFilled.png' : '/images/main/whiteHeart.png'}" alt=""
                    name="likeBtnDefault">
                  <span th:text="*{likeCount}" name="likeCountSpan"></span>
                </div>
    
                <div class="bottom-area">
                  <a th:href="|*{boardImgPath}*{boardImgRename}|" th:download="*{boardImgOrigin}">
                    <img src="/images/main/downloadBtn.png" style="background-color: white;" name="downloadBtn" alt="">
                  </a>

                  <div th:if="${session.loginMember != null and session.loginMember.memberNo == board.memberNo}">
                    <img src="/images/main/updateBtn.png" style="background-color: white;" name="boardUpdateBtn" alt="">
                  </div>
  
                  <div th:if="${session.loginMember != null and session.loginMember.memberNo == board.memberNo}">
                    <img src="/images/main/deleteBtn.png" style="background-color: white;" name="boardDeleteBtn" alt="">
                  </div>

                </div>
              </div>
            </div>
    
          </th:block>
        </div>
    
        <!-- 감시자 -->
        <div class="obserb-flag"></div>
      </section>
    
      <div class="board-modal">
    </div>



    </div>

  </div>

  <div class="myPage-modal" th:object="${session.loginMember}">
    <div class="theme-img-div">
      <img th:src="*{memberTheme}" alt="" class="preview-theme-img">
    </div>

    <div class="profile-img-div">
      <img th:src="*{memberProfile != null ? memberProfile : '/images/defaultProfile.png'}" alt="" class="preview-proflie-img">
    </div>
    <div class="profile-change-content">
      <div class="profile-img-change-div">
        <input type="file" id="profileImgInput" style="display: none;">
        <label for="profileImgInput" class="profile-modal-btn">프로필 선택</label>
        <button class="profile-modal-btn" id="profileImgUpdateBtn">프로필 수정</button>
      </div>
      <div class="profile-img-change-div">
        <input type="file" id="themeImgInput" style="display: none;">
        <label for="themeImgInput" class="profile-modal-btn">테마 선택</label>
        <button class="profile-modal-btn" id="themeImgUpdateBtn">테마 수정</button>
      </div>

      <div class="name-change">
        <span>닉네임</span>
        <input type="text" th:value="*{memberNickname}" id="nameChangeInput">
        <button class="profile-modal-btn" id="nameChangeBtn">수정하기</button>
      </div>
      <div class="modal-change-div">
        <span>
          이메일 공개 여부
        </span>
        <div class="update-reveal-btn" id="changeEmailBtn">
          <span class="reveal-span" th:classappend="${session.loginMember.memberEmailFl} == 'N' ? 'noneSpan'"
                style="position: absolute;"
                id="emailSpanOn">ON</span>
          <div class="update-reveal-btn1" id="changeEmailBtn1"></div>
          <span class="reveal-span" th:classappend="${session.loginMember.memberEmailFl} == 'Y' ? 'noneSpan'"
                style="padding-left: 10px;"
                id="emailSpanOff">OFF</span>
        </div>
      </div>
      <div class="modal-change-div">
        <span>
          활동내역 공개 여부
        </span>
        <div class="update-reveal-btn" id="changeActiveBtn">
          <span class="reveal-span" th:classappend="${session.loginMember.memberActiveFl} == 'N' ? 'noneSpan'"
                style="position: absolute;"
                id="activeSpanOn">ON</span>
          <div class="update-reveal-btn1" id="changeActiveBtn1"></div>
          <span class="reveal-span" th:classappend="${session.loginMember.memberActiveFl} == 'Y' ? 'noneSpan'"
                style="padding-left: 10px;"
                id="activeSpanOff">OFF</span>
        </div>
      </div>
      <div class="modal-change-div">
        <span>
          팔로워 공개 여부
        </span>
        <div class="update-reveal-btn" id="changeFollowBtn">
          <span class="reveal-span" th:classappend="${session.loginMember.memberFollowFl} == 'N' ? 'noneSpan'"
                style="position: absolute;"
                id="followSpanOn">ON</span>
          <div class="update-reveal-btn1" id="changeFollowBtn1"></div>
          <span class="reveal-span" th:classappend="${session.loginMember.memberFollowFl} == 'Y' ? 'noneSpan'"
                style="padding-left: 10px;"
                id="followSpanOff">OFF</span>
        </div>
      </div>
      <div name="myPageModalCancleDiv">
        <button class="profile-modal-btn" id="myPageModalCancleBtn">취소</button>
      </div>
    </div>
  
    </div>

</section>