<head>
  <link rel="stylesheet" href="/css/myPage/pwChange.css">
</head>
<!-- 메인 안에 들어갈 내용 -->
<section class="main-section">
  <div class="head-title2">
    marimoss
  </div>
  <hr class="pw-change-hr">
  <div class="sub-title">
    비밀번호 변경
  </div>
  <div class="pw-change-container">
    <input type="password" name="prePw" id="prePw" placeholder="현재 비밀번호">
    <input type="password" name="newPw" id="newPw" placeholder="새 비밀번호">
    <input type="password" name="newPwConfirm" id="newPwConfirm" placeholder="새 비밀번호 확인">

    <span id="checkSpan">
      비밀번호를 입력해주세요
    </span>

    <div class="pw-change-btn">
      변경하기
    </div>

    <div class="pw-change-inter">
      * 비밀번호는 영문, 특수문자, 숫자 6 ~ 20 자 조합으로 설정 가능합니다
    </div>

  </div>
</section>