<head>
  <link rel="stylesheet" href="/css/myPage/pwFind.css">
</head>
<!-- 메인 안에 들어갈 내용 -->
<section class="main-section">
  <div class="head-title2">
    marimoss
  </div>
  <hr class="pw-find-hr">
  <div class="sub-title">
    비밀번호 찾기
  </div>

  <div class="pw-find-container">
    <div class="pw-find-div2">
      <input type="text" id="emailInput" placeholder="이메일을 입력하세요">
      <button name="checkBtn" id="pwFindCheckBtn">인증 번호</button>
    </div>
    
    <span id="pwFindTimeSpan"></span>

    <div class="pw-find-div2">
      <input type="text" id="authKeyInput" placeholder="인증번호를 입력하세요">
    </div>

    <div class="pw-find-btn" id="pwFindBtn2">
      임시 비밀번호 발급
    </div>

  </div>

</section>