<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jij.marimoss.board.mapper.BoardMapper">
  	
  	<insert id="boardInsert">
		INSERT INTO "BOARD"
		VALUES(
			SEQ_BOARD_NO.NEXTVAL,
			#{boardTitle},
			#{boardImgPath},
			#{boardImgOrigin},
			#{boardImgRename},
			#{boardContent},
			DEFAULT,
			DEFAULT, 
			DEFAULT,
			#{memberNo}
		)
  	</insert>
  	
  	<!-- 좋아요 눌렀는지 체크 -->
  	<select id="checkLike">
		SELECT 
			COUNT(*)
		FROM "LIKE"
		WHERE BOARD_NO = #{boardNo}
		AND MEMBER_NO = #{memberNo}
  	</select>
  	
  	<!-- 좋아요 삭제 -->
  	<delete id="deleteLike">
  		DELETE "LIKE"
  		WHERE BOARD_NO = #{boardNo}
		AND MEMBER_NO = #{memberNo}
  	</delete>
  	
  	
  	<!-- 좋아요 등록 -->
  	<insert id="insertLike">
  		INSERT INTO "LIKE"
		VALUES (
			#{boardNo}, #{memberNo}, DEFAULT
		)
  	</insert>
  	
  	
  	<select id="likeCount">
		SELECT 
			COUNT(*)
		FROM "LIKE"
		WHERE BOARD_NO = #{boardNo}
  	</select>
  	
  	<insert id="insertComment">
	  	INSERT INTO "COMMENT"
		VALUES (
			SEQ_COMMENT_NO.NEXTVAL,
			#{commentContent},
			DEFAULT,
			DEFAULT,
			#{boardNo},
			#{memberNo},
			NULL
		)
  	</insert>
  	
  	
  	<!-- 댓글 삭제 -->
  	<update id="deleteComment">
  		UPDATE "COMMENT"
  		SET
  			COMMENT_DEL_FL ='Y'
  		WHERE
  			COMMENT_NO = #{commetNo}
  	</update>
  	
  	
  	 <!-- 게시글 삭제 -->
  	<update id="deleteBoard">
  		UPDATE "BOARD"
  		SET
  			BOARD_DEL_FL ='Y'
  		WHERE
  			BOARD_NO = #{boardNo}
  	</update>
  	
  	
  	<!-- 게시글 수정 화면 -->
  	<select id="boardUpdateView">
  		SELECT 
  			BOARD_NO,
  			BOARD_TITLE,
  			BOARD_CONTENT,
  			BOARD_IMG_PATH,
  			BOARD_IMG_RENAME
  		FROM "BOARD"
  		WHERE BOARD_NO = #{boardNo}
  	</select>
  	
  	
  	<!-- 리뷰 수정 -->
	<update id="boardUpdate">
		UPDATE "BOARD"
		SET
			<if test="boardImgOrigin != null and !boardImgOrigin.equals('')">
				BOARD_IMG_ORIGIN = #{boardImgOrigin},
				BOARD_IMG_RENAME = #{boardImgRename},
				BOARD_IMG_PATH = #{boardImgPath},
			</if>
			BOARD_CONTENT = #{boardContent},
			BOARD_TITLE = #{boardTitle}
		WHERE
			BOARD_NO = #{boardNo}
	</update>
  	
  	
</mapper>
