<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jij.marimoss.mypage.mapper.MyPageMapper">
  	
  	<!-- 전체 게시글 숫자 세기 -->
	<select id="selectMyBoardCount">
		SELECT COUNT(*)
		FROM "BOARD"
		WHERE BOARD_DEL_FL = 'N'
		AND MEMBER_NO = #{memberNo}
	</select>
  	
  	<!-- 조건 상위 12개 가져오기 -->
  	<select id="selectMyBoardList">
		SELECT 
		  B.BOARD_NO,
		  BOARD_TITLE,
		  BOARD_IMG_PATH,
		  BOARD_IMG_ORIGIN,
		  BOARD_IMG_RENAME,
		  B.MEMBER_NO,
		  (SELECT COUNT(*)
		   FROM "LIKE"
		   WHERE BOARD_NO = B.BOARD_NO
		   AND MEMBER_NO = #{memberNo}) AS "LIKE_FL",
		  COUNT(L.MEMBER_NO) AS LIKE_COUNT
		FROM "BOARD" B
		LEFT JOIN "LIKE" L ON (B.BOARD_NO = L.BOARD_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND B.MEMBER_NO = #{memberNo}
		GROUP BY B.BOARD_NO, BOARD_TITLE, BOARD_IMG_PATH,
		  		   BOARD_IMG_ORIGIN, BOARD_IMG_RENAME,
		  		   B.MEMBER_NO
		ORDER BY BOARD_NO DESC
  	</select>
  	
  	
  	<!-- 테마 수정 -->
  	<update id="themeUpdate">
  		UPDATE "MEMBER"
  		SET 
  			MEMBER_THEME = #{themeUrl}
  		WHERE
  			MEMBER_NO = #{memberNo}
  	</update>
  	
  	
  	<!-- 프로필 수정 -->
  	<update id="profileImgUpdate">
  		UPDATE "MEMBER"
  		SET 
  			MEMBER_PROFILE = #{profileUrl}
  		WHERE
  			MEMBER_NO = #{memberNo}
  	</update>
  	
  	
  	
  	<!-- 이름 수정 -->
  	<update id="nicknameChange">
  		UPDATE "MEMBER"
  		SET 
  			MEMBER_NICKNAME = #{memberNickname}
  		WHERE
  			MEMBER_NO = #{memberNo}
  	</update>
  	
  	
  	<!-- 회원 정보 가져오기-->
  	<select id="selectMember">
  		SELECT 
  			MEMBER_NO,
  			MEMBER_EMAIL,
  			MEMBER_NICKNAME,
  			MEMBER_PROFILE,
  			MEMBER_THEME,
  			MEMBER_EMAIL_FL,
  			MEMBER_ACTIVE_FL,
  			MEMBER_FOLLOW_FL
  		FROM "MEMBER"
  		WHERE 
  			MEMBER_DEL_FL = 'N'
		AND 
			MEMBER_NO = #{memberNo}
  	</select>
  	
  	<select id="selectFollowerList">
		SELECT 
			M.MEMBER_NO,
			M.MEMBER_NICKNAME,
			M.MEMBER_PROFILE,
			(SELECT COUNT(*)
			 FROM "FOLLOW"
			 WHERE FOLLOWER_NO = M.MEMBER_NO
			 AND	FOLLOWEE_NO = #{memberNo}
			) AS "FOLLOW_BACK"
		FROM "FOLLOW" F
		LEFT JOIN "MEMBER"M ON (M.MEMBER_NO = F.FOLLOWEE_NO)
		WHERE FOLLOWER_NO = #{memberNo}
  	</select>
  	
  	  	
  	<select id="selectfolloweeList">
		SELECT 
			M.MEMBER_NO,
			M.MEMBER_NICKNAME,
			M.MEMBER_PROFILE,
			(SELECT COUNT(*)
			 FROM "FOLLOW"
			 WHERE FOLLOWER_NO = #{memberNo}
			 AND	FOLLOWEE_NO = M.MEMBER_NO
			) AS "FOLLOW_BACK"
		FROM "FOLLOW" F
		LEFT JOIN "MEMBER"M ON (M.MEMBER_NO = F.FOLLOWER_NO)
		WHERE FOLLOWEE_NO = #{memberNo}
  	</select>
  	
  	
</mapper>
