<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jij.marimoss.sse.mapper.SseMapper">
  	
  	
  		<!-- 
		useGeneratedKeys 속성
		- DB 에서 내부적으로 생성된 KEY(시퀀스) 를 
		  사용할 수 있는 상태 여부 지정
		  -> 전달 받은 파라미터 객체의 필드에 대입 가능
		  
		- 원리 : 전달 받은 파라미터에(얕은 복사로 인해 주소만 복사됨)
		         생성된 key 값을 세팅해서 java에서도 사용 가능하게함
	 -->

	<insert id="insertNotification"
			parameterType="Notification"
			useGeneratedKeys="true">
			
		<!-- sql 이전에 실행 -->
		<!-- 시퀀스 번호 하나를 얻어 notificationNo 안에 대입 -->
		<selectKey order="BEFORE" resultType="_int"
				   keyProperty="notificationNo">
				   
			SELECT SEQ_NOTIFICATION_NO.NEXTVAL FROM DUAL
		
		</selectKey>
			
		INSERT INTO "NOTIFICATION"
			(NOTIFICATION_NO,
			 NOTIFICATION_CONTENT,
			 NOTIFICATION_URL,
			 SEND_MEMBER_NO,
			 RECEIVE_MEMBER_NO)
		VALUES (
		
			#{notificationNo},
			#{notificationContent},
			#{notificationUrl},
			#{sendMemberNo},
			
			<choose>
				<!-- 알림 타입 :: 댓글 작성 또는 좋아요 -->
				<when test="notificationType == 'insertComment'
					     or notificationType == 'boardLike'">
					(SELECT MEMBER_NO
					 FROM "BOARD"
					 WHERE BOARD_NO = #{pkNo})
				
				</when>
				
				<!-- 알림 타입 :: 답글 -->
				<!-- 삽입 댓글의 부모 댓글 번호로 찾기 -->
				<when test="notificationType == 'insertChildComment'">
					(SELECT MEMBER_NO
					 FROM "COMMENT"
					 WHERE COMMENT_NO = #{pkNo})
				</when>
			</choose>
			
			
		)	<!-- VALUES 닫기 -->
		
	
	</insert>
	
	
	<!-- 알림을 받아야 하는 회원의 번호 + 안읽은 알람 개수 조회 -->
	<select id="selectReceiveMember"
			resultType="map">
		SELECT 
			RECEIVE_MEMBER_NO "receiveMemberNo",
			(SELECT COUNT(*) 
			 FROM "NOTIFICATION" SUB
			 WHERE SUB.RECEIVE_MEMBER_NO = MAIN.RECEIVE_MEMBER_NO 
			 AND   SUB.NOTIFICATION_CHECK = 'N')
			 "notiCount"
		FROM (
			SELECT RECEIVE_MEMBER_NO
				FROM "NOTIFICATION"
			WHERE NOTIFICATION_NO =  #{notificationNo}
		) MAIN
	
	</select>
	
  	
</mapper>
