<head>
  <link rel="stylesheet" href="/css/board/boardInsert.css">
</head>
<!-- 메인 안에 들어갈 내용 -->
<section class="main-section">

  <div class="board-insert-head">
  </div>
  
  <div class="board-insert-container">
    
    <label class="preview-img-box" for="imgInput">

      <div class="preview-img-box-notice">
        <img src="/images/boardInsert/plusMark.png" alt="">
        <span>
          이미지를 선택해 주세요
        </span>
      </div>


      <img class="preview-img" src="" onError="this.style.visibility='hidden'">

    </label>

    <div class="board-insert-box">
      <input type="file" name="imgInput" id="imgInput" class="input-img" accept="image/*">
      <input type="text" name="boardTitle" placeholder="제목">
      <textarea type="text" name="boardContent" placeholder="설명은 500자 이내로 작성해주세요"></textarea>

      <button id="insertBtn">등록 하기</button>
    </div>

  </div>


</section>