.pw-change-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;


  margin-top: 12px;
}


.pw-change-container > input {
  margin-bottom: 12px;

  height: 32px;

  width: 280px;

  border: 0.1px solid var(--font-gray-color);
  border-radius: 16px;

  outline: none;
  padding-left: 1.5vh;

  font-size: 18px;
}

.pw-change-container > input:focus {
  outline: 0.1px solid var(--font-color);
} 

.pw-change-hr {
  height: 2px;

  border-radius: 2px;

  background-color: var(--font-color);

  margin-bottom: 10px;
  border: none;
}

.pw-change-inter {
  margin-top: 10px;

  font-size: 10px;
}

.pw-change-btn {

  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;

  width: 280px;
  height: 32px;

  background-color: white;

  border: 0.3vh solid var(--font-color);

  border-radius: 20px;

  transition-property: background-color;
  transition-duration: 0.3s;
}

.pw-change-btn:hover {
  background-color: var(--font-color);
  color: white;

  cursor: pointer;
}

#check-span {
  font-size: 12px;

  margin-top: 10px;
}

.confirm {
  color: rgb(54, 213, 125);
}

.fail {
  color: rgb(255, 98, 106);
}



[name=agreeCheck] {
  width: 18px;
  height: 18px;
  position: absolute;

  accent-color: var(--font-color);
}

[name=delSpan] {
  position: relative;

  margin-left: 24px;
}


.member-del-pre {
  margin-bottom: 12px;

  height: 150px;

  width: 280px;

  border: 0.1px solid var(--font-gray-color);
  border-radius: 16px;


  text-align: left;

  padding: 4px;

  background-color: white;

  font-size: 18px;
}


