
@font-face {
  font-family: 'HancomMalangMalang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* { /* 전체 적용 옵션 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}

/* 색상 */
:root{
  --main-color : rgba(0, 255, 156, 1);        /* 사이트 대표 컬러 */

  --font-color : rgb(53, 53, 72);             /* 글자색 */
  --font-gray-color : rgba(110, 110, 115, 1); /* 글자 옅은 회색 */
  --back-color : rgb(239, 239, 245);          /* 배경색 */
}

*{
  color: var(--font-color);
}

main {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--back-color);
}


.main-section{

  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  flex-direction: column;

}

.header-container {
  position: fixed;

  height: 8vh;
  width: 100vw;

  background-color: white;

  display: flex;
  justify-content: start;

  align-items: center;
  


  z-index: 30;

}

.head-title {
  font-family: 'HancomMalangMalang-Regular' !important;
  font-size: 5vh;

  padding: 2vh;

  font-weight: bold;
  
  transform: translateY(-0.7vh);

}


.search-div {
  position: relative;
}

[name=searchInput] {
  width: 50vh;
  height: 4vh;

  border: none;
  border-radius: 4vh;

  padding: 2vh;

  background-color: var(--back-color);


}

[name=searchMark] {
  width: 3vh;
  position: absolute;

  transform: translate(-5vh, 0.5vh);

}

.menu-container {
  width: 100vw; /* 나머지 꽉차게 */

  padding-right: 5vh;
  display: flex;

  justify-content: end;

}

.icon-box {

  width: 6vh;
  height: 6vh;

  margin: 2vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1vh;

  transition-property: background-color;
  transition-duration: 0.2s;
}

.icon-box:hover {
  background-color: var(--back-color);

  cursor: pointer;
}
.icon-box img {
  width: 4vh;
}

[name=profileBox] {
  width: 6vh !important;
  height: 6vh !important;
}

[name=profileBox] img {
  width: 4vh;
  height: 4vh;

  border-radius: 4vh;
}












/* 로그인 박스 */
.side-modal {
  width: 25vh;
  height: 40vh;

  background-color: white;
  position: fixed;

  right: 5vh;
  top: 9vh;

  z-index: 30;

  border-radius: 2vh;
}

.side-modal-head {
  font-size: 3vh;

  text-align: right;

  padding-right: 1.3vh;
}

#sideCloseBtn {
  cursor: pointer;
}

.side-modal-none {
  display: none !important;
}

.side-modal-content {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2vh;
}

.side-modal-content img{
  width: 10vh;
  height: 10vh;

  border-radius: 10vh;

}

.side-modal-content div {
  margin-bottom: 1vh;
}

.logout-btn {

  font-size: 2vh;

  width: 20vh;
  height: 5vh;

  background-color: white;

  border: 0.3vh solid var(--font-color);

  border-radius: 3vh;

  transition-property: background-color;
  transition-duration: 0.3s;
}

.logout-btn:hover {
  background-color: var(--font-color);
  color: white;

  cursor: pointer;
}











.login-modal {
  width: 44vh;
  height: 60vh;

  position: fixed;
  top: 20%;
  right: 50%;
  left: 50%;

  overflow: hidden;

  margin-left: -22vh;

  border-radius: 3vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: white;

  z-index: 20;
}

.login-head {
  font-family: 'HancomMalangMalang-Regular' !important;
  font-size: 5vh;

  padding: 2vh;

  font-weight: bold;
  
  transform: translateY(-0.7vh);

  position: relative;
}

.login-head > span {
  position: absolute;

  font-size: 3vh;

  color: var(--font-gray-color);
  
  right: -6.5vh;

}

.login-head > span:hover {
  cursor: pointer;
}

.login-content {
  margin-top: 2vh;
}

.login-content > form {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

}

.login-content input {
  width: 32vh;
  height: 4vh;

  border: 0.1vh solid var(--font-gray-color);

  border-radius: 3vh;

  padding-left: 1vh;

  font-size: 2vh;
  margin-bottom: 2vh;
}

.login-content input:focus {
  outline: 0.2vh solid var(--font-color);
} 

.auto-login-div {

  margin-top: 1vh;
  text-align: left;

  margin-left: 2vh;

  font-size: 1.5vh;
  position: relative;
}

[name=autoLogin] {
  width: 2vh !important;
  height: 2vh !important;

  position: absolute;
  margin-left: -3vh;

  accent-color: var(--font-color);
}

.login-content button {
  margin-top: 3vh;

  width: 32vh;
  height: 5vh;

  background-color: white;

  border: 0.3vh solid var(--font-color);

  border-radius: 3vh;
  font-size: 2vh;

  transition-property: background-color;
  transition-duration: 0.3s;
}

.login-content button:hover {

  cursor: pointer;
  background-color: var(--font-color);

  color: white;
}

.login-bottom {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: end;
}

.login-bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  position: relative;

  width: 100%;
  height: 9vh;
}



.login-bottom-div:hover .signup-btn {
  cursor: pointer;
  height: 100%;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2vh;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;

  width: 100%;
  background-color: var(--font-color);
  transition-property: height;
  transition: 0.3s;
  color: white;
}


.signup-form input{
  height: 3vh;

  font-size: 1.5vh;

  margin-bottom: 1vh;
}
.signup-form span {
  width: 32vh;
  font-size: 1.5vh;
  margin-bottom: 1vh;
}

.head-email-span {
  width: 32vh;

  display: flex;
  justify-content: space-between;
}


.head-email-span > span:last-child {
  text-align: right;
  padding-right: 1vh !important;
}


.check-div {
  display: flex;

  width: 32vh;
}
.check-div input{
  width: 24vh !important;

  border-top-right-radius: 0vh;
  border-bottom-right-radius: 0vh;

  border-right: none;


}

.check-btn {
  width: 8vh !important;
  height: 3vh !important;

  font-size: 1.5vh !important;

  margin-top: 0vh !important;

  padding-right: 0.5vh !important;

  border-top-left-radius: 0vh !important;
  border-bottom-left-radius: 0vh !important;

  border: 0.2vh solid var(--font-color) !important;

}

.none-display {
  display: none !important;
}


[name=myPageBtn]:hover {
  cursor: pointer;
}