
@font-face {
  font-family: 'HancomMalangMalang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* { /* 전체 적용 옵션 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}

/* 색상 */
:root{
  --main-color : rgba(0, 255, 156, 1);        /* 사이트 대표 컬러 */

  --font-color : rgb(53, 53, 72);             /* 글자색 */
  --font-gray-color : rgba(110, 110, 115, 1); /* 글자 옅은 회색 */
  --back-color : rgb(239, 239, 245);          /* 배경색 */
}

*{
  color: var(--font-color);
}

main {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--back-color);
}


.main-section{

  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  flex-direction: column;

}

.header-container {
  position: fixed;

  height: 8vh;
  width: 100vw;

  background-color: white;

  display: flex;
  justify-content: start;

  align-items: center;
  


  z-index: 30;

}

.head-title {
  font-family: 'HancomMalangMalang-Regular' !important;
  font-size: 5vh;

  padding: 2vh;

  font-weight: bold;
  
  transform: translateY(-0.7vh);

}


.search-div {
  position: relative;
}

[name=searchInput] {
  width: 50vh;
  height: 4vh;

  border: none;
  border-radius: 4vh;

  padding: 2vh;

  background-color: var(--back-color);


}


[name=searchMark] {
  width: 3vh;
  position: absolute;

  transform: translate(-5vh, 0.5vh);

}

.menu-container {
  width: 100vw; /* 나머지 꽉차게 */

  padding-right: 32vh;
  display: flex;

  justify-content: end;

}

.icon-box {

  width: 6vh;
  height: 6vh;

  margin: 2vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1vh;

  transition-property: background-color;
  transition-duration: 0.2s;
}

.icon-box:hover {
  background-color: var(--back-color);

  cursor: pointer;
}
.icon-box img {
  width: 4vh;
}