

.board-container {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;
}

.board-box1 {
  margin: 10px;
  width: 250px;
  min-height: 500px;
}

.board-box {
  margin: 10px;
  width: 250px;

  /* background-color: var(--font-color); */

  display: flex;
  justify-content: center;
  align-items: center;

  /* 내부 이미지가 박스 밖 범위를 못 벗어나도록 */
  overflow: hidden;

  position: relative;

  transition-duration: 0.3s;
}

.board-box > img {
  width: 100%;
  border-radius: 20px;
  transition-duration: 0.3s;
  z-index: 1;
}


/* 설명 */
.board-div {
  position: absolute;
  color: white;

  width: 100%;
  height: 100%;

  opacity: 0;

  transition-duration: 0.3s;

  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;
}

.top-area {
  width: 100%;

  display: flex;
  justify-content: start;
  /* 글자 */
  padding: 12px;
}

.like-area {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.like-area img {
  border-radius: 0px !important;
  width: 24px !important;
}

.bottom-area {
  width: 100%;

  display: flex;
  justify-content: end;
  /* 글자 */
  padding: 12px;
}

.board-div span {
  color: white;

  font-size: 20px;
}


.board-box:hover {
  transform: translateY(-10px);

  cursor: pointer;
}

/* 글자 보이게 */
.board-box:hover > .board-div {
  opacity: 1;
}

/* 배경 그림 어둡게 */
.board-box:hover > img{
    /* 마우스 호버 시 밝기 조절 */
  filter: brightness(0.7);
}

.board-div img {
  width: 32px;
  border-radius: 32px;
}



/* 모달!! */
.board-modal {
  width: 60%;
  height: 80%;

  position: fixed;
  top: 50%;

  /* 화면 좌우 가운데 고정 */
  transform:translateY(-50%); 
  z-index: -10;

  border-radius: 3vh;
  transition-property: opacity;  
  transition-duration: 0.3s;

  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.modal-index {
  z-index: 20 !important;
}

/* 화면 어둡게 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 어두운 반투명 배경 */
  z-index: 10; /* 팝업이 항상 위로 오도록 설정 */
}

.board-modal > div {
  width: 50%;
  height: 100%;
}

.modal-image-area {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--font-color);
}

.width {
  width: 30vw;
}

.height {
  height: 80vh;
}

.modal-image-bottom{
  display: flex;

  justify-content: end;

  align-items: end;

  width: 50%;
  height: 100%;
  position: absolute;

}

.modal-image-bottom img {
  width: 4vh;
  height: 4vh;

  margin-right: 2vh;
  margin-bottom: 2vh;

  transition-property: filter;  
  transition-duration: 0.2s;
}

.modal-image-bottom img:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

.modal-img-menu {
  width: 14vh;
  height: 10vh;

  font-size: 2vh;

  border-radius: 1.5vh;
  background-color: white;

  position: absolute;

  transform: translate(-2vh, -7vh);

  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.modal-img-menu > a {
  display: block;

  display: flex;
  height: 4vh;
  width: 13vh;

  margin: 0.5vh;

  justify-content: space-around;
  align-items: center;
  padding-right: 1vh;

  border-radius: 2vh;
  
  text-decoration-line: none;



  transition-property: background-color;
  transition-duration: 0.2s;
}

.modal-img-menu > a:hover {

  cursor: pointer;

  background-color: rgb(155, 155, 155);

  text-decoration-line: none;
}


.modal-img-menu > a > img {
  margin: 0px;
  width: 3.5vh;
  height: 3.5vh;

  transform: translateY(0vh);
}

.modal-menu-close {
  display: none;
}





.modal-content-area {
  background-color: white;

  display: flex;
  flex-direction: column;


}

/* 모달 내부는 확대 축소 영향을 받지 않기 위해 */
/* vh 사용 */
.modal-head {

  font-size: 4vh;
  padding: 2vh;

  display: flex;
  justify-content: space-between;
}

.modal-member {
  font-size: 2.5vh;
  padding: 1vh;

  min-height: 10vh;
  
}

.modal-member img {
  width: 4vh;
  height: 4vh;
  border-radius: 4vh;
  transform: translateY(1vh);

}

.modal-content {
  font-size: 2.5vh;
  padding: 1vh;

  min-height: 10vh;
}

.modal-comment-area {
  font-size: 2.5vh;
  padding: 1vh;

  background-color: rgb(214, 214, 214);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;

}

#modalCloseBtn {
  line-height: 3vh;
  font-size: 6vh;
  padding-right: 0.5vw;

  color: var(--font-gray-color);
}

#modalCloseBtn:hover {
  cursor: pointer;
}


.obserb-flag {
  width: 100%;
  height: 40px;
}

.comment-box {
  display: flex;
  align-items: center;

  justify-content: space-between;
}


.comment-box-comment-area {
  display: flex;
  align-items: center;

  min-width: 10vh;

  margin-bottom: 1vh;

  word-break: break-word;
}

.comment-box-comment-area div {
  min-width: 10vh;
  margin-right: 1vh;
}

.comment-box-etc-area {
  display: flex;
  align-items: center;

  font-size: 1.3vh !important;
}

.comment-box-etc-area div:first-child {
  text-align: center;

  width: 8vh;
  margin-right: 0.5vh;
  word-break: break-word;
}


.comment-delete-btn {
  width: 1.8vh;

  height: 2vh;

  border: none;
  border-radius: 0.5vh;

  background-color: var(--back-gray-color);

  margin-right: 0.5vh;

  font-size: 1.3vh;

  transition-property: background-color;
  transition-duration: 0.2s;
}


.comment-delete-btn:hover {
  cursor: pointer;

  color: white;
  background-color: var(--font-color);
}



.comment-box img {
  margin-right: 1vh;
  width: 4vh;
  height: 4vh;
  border-radius: 4vh;
}

.modal-comment-span {
  margin-bottom: 1vh;
}

.modal-comment-container {
  flex-grow: 1;

  max-height: 40vh;
  overflow-y: auto; 
}

.modal-comment-insert {
  width: 100%;

  height: 5vh;
  display: flex;
}

.modal-comment-insert input {
  height: 4vh;

  width: 100vh;

  min-width: 2vh;

  border: 0.1vh solid var(--font-gray-color);
  border-radius: 4vh;

  outline: none;
  padding-left: 1.5vh;

  font-size: 2vh;
}

.modal-comment-insert button {
  height: 4vh;

  min-width: 8vh;

  border: 0.1vh solid var(--font-gray-color);
  border-radius: 4vh;

  margin-left: 1vh;

  background-color: white;

  font-size: 2vh;

  transition-property: background-color;
  transition-duration: 0.2s;
}

.modal-comment-insert button:hover {
  cursor: pointer;

  color: white;
  background-color: var(--font-color);
}



.no-comment {
  display: flex;
  justify-content: center;
  align-items: center;

}

.no-comment span {
  color: var(--font-gray-color) !important;
}





[name=boardDeleteBtn] {
  margin-left: 8px;
}


[name=boardUpdateBtn] {
  margin-left: 8px;
}
