main {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--back-color);
}

.main-section{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;
}

.board-box {

  margin: 10px;
  width: 250px;

  /* background-color: var(--font-color); */

  display: flex;
  justify-content: center;
  align-items: center;

  /* 내부 이미지가 박스 밖 범위를 못 벗어나도록 */
  overflow: hidden;

  position: relative;
}

.board-box img {
  width: 100%;
  border-radius: 20px;
  transition-duration: 0.2s;
  z-index: 1;
}


/* 설명 */
.board-div {
  position: absolute;
  color: white;

  width: 100%;
  height: 100%;

  opacity: 0;

  transition-duration: 0.2s;

  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;
}

.top-area {
  width: 100%;

  display: flex;
  justify-content: start;
  /* 글자 */
  padding: 12px;
}

.like-area {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.like-area img {
  border-radius: 0px !important;
  width: 24px !important;
}

.bottom-area {
  width: 100%;

  display: flex;
  justify-content: end;
  /* 글자 */
  padding: 12px;
}


.board-div span {
  color: white;

  font-size: 20px;
}


.board-box:hover {
  cursor: pointer;
}

/* 글자 보이게 */
.board-box:hover > .board-div {
  opacity: 1;
}

/* 배경 그림 어둡게 */
.board-box:hover > img{
    /* 마우스 호버 시 밝기 조절 */
  filter: brightness(0.5);
}

.board-div img {
  width: 32px;
}