
.board-insert-head {
  font-family: 'HancomMalangMalang-Regular' !important;
  font-weight: bold;

  text-align: center;
  margin-top: 10vh;
}
.board-insert-container {
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: start;

  margin-bottom: 200px;
}

.board-insert-container > * {
  margin: 20px;
}

#imgInput {
  display: none;
}

.preview-img-box {

  min-width: 400px;
  max-width: 400px;
  height: 540px;
  border: 3px solid var(--font-color);

  border-style: dashed;

  border-radius:50px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

}

.preview-img-box2 {

  display: inline-block;


  display: flex;
  justify-content: center;
  align-items: start;




}

.preview-img-box:hover {
  cursor: pointer;
}

.preview-img {
  max-width: 500px;
  border-radius:50px;


}

.preview-img:hover {
  cursor: pointer;
}

.board-insert-box {
  width: 600px;
  height: 700px;

  display: flex;
  flex-direction: column;
  
}


[name=boardTitle] {
  margin-top: 10px;
  margin-bottom: 20px;

  border: 1px solid var(--font-gray-color);

  border-radius: 30px;
  padding: 20px;

  font-size: 18px;

  width: 500px;
  height: 50px;
}

[name=boardContent] {
  margin-bottom: 20px;

  border: 1px solid var(--font-gray-color);

  font-size: 18px;

  border-radius: 30px;

  padding: 20px;

  resize: vertical;

  width: 500px;
  height: 360px;
}

#insertBtn {
  width: 500px;
  height: 60px;

  border-radius: 40px;

  color: var(--font-color);

  background-color: white;

  border: 3px solid var(--font-color);

  font-size: 18px;

  transition-property: background-color;
  transition-duration: 0.2s;
  
}

#insertBtn:hover {
  background-color: var(--font-color);
  cursor: pointer;

  color: white;
}



.preview-img-box-notice {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.preview-img-box-notice img{

  width: 40px;

  margin-bottom: 40px;
}

.preview-img-box-notice span {

  color: var(--font-gray-color) !important;
  font-size: 18px;

}
